@import './vars.scss';
@import './fonts.scss';
@import './keyframes.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include h1-font;
}

img {
  display: block;
  object-fit: cover;
}

.checkbox {
  width: max-content;

  &__label {
    width: 100%;
    text-align-last: left;
    display: inline-block;
    position: relative;
    padding-left: 29px;
  }

  &__input {
    @include checkbox;
  }

  &__tick {
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 4px;
    background-image: url('../images/icons/checkbox-tick.svg');
    width: 15px;
    height: 10px;
    background-size: cover;
  }

  &__link--green {
    color: $mainGreen;
  }

  &__link--white {
    color: $mainWhite;
  }
}

.solid-button {
  @include solid-button;
}

.transparent-button {
  @include transparent-button;
}

.paragraph--large {
  @include paragraph-large;
}

.paragraph--medium {
  @include paragraph-medium;
}

.paragraph--small {
  @include paragraph-small;
}

.contest {

  &__item {
    border-radius: 16px;
    width: 445px;
    height: 170px;
    background-color: $mainWhite;
    box-shadow: 0px 5px 30px 0px rgba(215, 211, 225, 0.5);
    padding: 0px 35px 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
  }
}

.plan {
  &__step {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 40px;
  }

  &__step-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $mainOrange;
  }

  &__step-count {
    @include plan-step-font;
  }

  &__step-info {
    text-align: left;
    @include paragraph-medium;
  }

  &__step-link {
    @include plan-link-font;
  }
}

.timer {
  display: flex;
  gap: 10px;

  &__pad {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pad-time {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    border-radius: 16px;
    background-color: $mainWhite;
    box-shadow: 0px 5px 30px 0px rgba(215, 211, 225, 0.5);
    @include timerPadTime;
  }

  &__colon {
    @include timerColon;
    animation: timer 2s linear 0.5s infinite ;
  }

  &__text {
    @include timerText;
  }

  &__subtext {
    @include subtext;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__text {
    @include logo-font;
  }

  &__text-emphasis {
    color: $mainOrange;
    font-weight: 400;
  }
}

.cover {
  padding-left: 262px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
  &__space-wrapper{
    position: absolute;
    right: 0;
    z-index: -1;
  }
  &__space{
    position: relative;
  }
  &__space-icon{
    position: absolute;
  }
  &__space-icons{
    position: absolute;
    top: 0;
    left: 0;
  }
  &__num{
    @include cover-text-font;
  }
  &__num--yellow{
    color: #FCC947;
  }
  &__num--pink{
    color: #E075AD;
  }
  &__num-zero{
    top: 264px;
    left: 720px;
    transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
  }
  &__num-one{
    top: 213px;
    left: 797px;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
  }
  &__star{
    width: 20px;
    height: 20px;
  }
  &__star-1{
    top: 18px;
    left: 137px;
    transform: rotate(30deg);
  }
  &__star-2{
    top: 37px;
    left: 737px;
    transform: rotate(30deg) scale(0.95);
  }
  &__star-3{
    top: 86px;
    left: 387px;
    transform:  scale(0.85);
  }
  &__star-4{
    top: 110px;
    left: 657px;
    transform: rotate(30deg) scale(0.95);
  }
  &__star-5{
    top: 190px;
    left: 304px;
    transform: rotate(45deg) scale(0.8);
  }
  &__star-6{
    top: 148px;
    left: 828px;
    transform: rotate(45deg) scale(0.8);
  }
  &__star-7{
    top: 205px;
    left: 736px;
    transform: rotate(45deg) scale(0.78);
  }
  &__star-8{
    top: 460px;
    left: 322px;
    transform: rotate(60deg) scale(0.4);
  }
  &__star-9{
    top: 517px;
    left: 320px;
    transform: rotate(45deg) scale(0.38);
  }
  &__star-10{
    top: 519px;
    left: 406px;
    transform: rotate(45deg) scale(0.41);
  }
  &__atom{
    left: 93px;
    top: 136px;
    animation: atom 12s linear 0s infinite ;
  }
  &__planet{
    top: 465px;
    left: 335px;
    animation: planet 12s linear infinite;
  }
  &__planet-2{
    top: 138px;
    left: 445px;
    animation: planet-2 12s ease infinite;
  }
  &__planet-3{
    top: 86px;
    left: 227px;
    animation: planet-3 12s ease infinite;
  }
  &__clock{
    top: 224px;
    left: 136px;
    animation: clock 12s linear infinite ;
  }
  &__rocket{
    top: 357px;
    left: 106px;
    animation: rocket 12s linear infinite ;
  }
  &__balloon{
    top: 300px;
    left: 372px;
    animation: balloon 10s ease infinite;
  }
  &__lightbulb{
    top: 331px;
    left: 482px;
    animation: lightbulb 10s linear infinite ;
  }
  &__elephant{
    top: 229px;
    left: 595px;
    animation: elephant 12s ease infinite;
  }
  &__airplane{
    top: 333px;
    left: 736px;
    animation: airplane 10s linear infinite;
  }
  &__division-sign{
    top: 189px;
    left: 533px;
    animation: sign-animation 10s linear infinite ;
  }
  &__plus-sign{
    top: 245px;
    left: 450px;
    animation: sign-animation 10s linear 5s infinite ;
  }
  &__palette{
    top: 123px;
    left: 739px;
    animation: palette 12s linear infinite;
  }
  &__planes{
    left: 187px;
    top: 720px;
  }
  &__girl{
    top: 480px;
    left: 388px;
  }
  &__brush{
    top: 623px;
    left: 412px;
    z-index: -2;
    animation: brush-step-1 2s linear 1.5s 1 forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }
  &__brush-step-1{

  }
  &__top {
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-right: 262px;
    justify-content: space-between;
    overflow: hidden;
  }
  &__info{
    margin: 248px 0 60px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }
  &__info-company{
    @include subtext;
    text-transform: uppercase;  
  }
  &__info-title{
    margin-bottom: 40px;
  }
  &__bottom{
    display: flex;
    gap: 60px;
  }
}