@import "./fonts.scss";
@import "./vars.scss";
@import "./vars-alt.scss";
@import "./mixins.scss";
@import "./keyframes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include h1-font;
}

h2 {
  @include h2-font;
}

img {
  display: block;
  object-fit: cover;
}

.checkbox {
  width: max-content;

  &__label {
    width: 100%;
    text-align-last: left;
    display: inline-block;
    position: relative;
    padding-left: 32px;
    @include checkbox-font;
  }

  &__label--gray {
    @include checkbox-font;
  }

  &__input {
    @include checkbox;
  }

  &__tick {
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 4px;
    background-image: url("../images/icons/checkbox-tick.svg");
    width: 15px;
    height: 10px;
    background-size: cover;
  }

  &__link--green {
    text-decoration: underline;
    color: var(--primary-green-color);
  }

  &__link--white {
    text-decoration: underline;
    color: var(--primary-white-color);
  }
}

.input {
  cursor: text;
  height: 60px;
  width: 540px;
  border-radius: 15px;
  border: 1px solid var(--primary-light-gray-color);
  padding: 18px 0 18px 20px;
  @include paragraph-medium;
  transition: color, border-color 0.1s ease-out;

  &:hover {
    border-color: var(--primary-gray-color);
  }

  &:hover::placeholder {
    color: var(--primary-gray-color);
  }
}

.solid-button {
  @include solid-button;
  &--red {
    width: auto;
    @include solid-button--red;
  }
}

.transparent-button {
  @include transparent-button;
  animation: transparent-button-onload 2s ease-in-out 0.5s 1 forwards;
}

.paragraph--large {
  @include paragraph-large;
}

.paragraph--medium {
  @include paragraph-medium;
}

.paragraph--small {
  @include paragraph-small;
}

.wavy-underline {
  @include wavy-underline;
}

.goal {
  background: url("../images/participationgoal-bg.png");
  padding: 36px 0 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;

  &__tiles {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
  }

  &__item {
    border-radius: 16px;
    width: 445px;
    height: 170px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 5px 30px 0px rgba(215, 211, 225, 0.5);
    padding: 0px 35px 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
  }

  &__item-link {
    color: #ff946e;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 106px;
  min-height: 807px;
  background: url("../images/plan-bg.png");
  z-index: -2;
  overflow: hidden;
  position: relative;

  &__steps-wrapper {
    position: relative;
    margin-top: 86px;
    width: 1365px;
  }
  &__steps-plane {
    z-index: 3;
    left: 180px;
    top: 160px;
    position: absolute;
    offset-path: path(
      "
      M0.5 7.5L51 1H85L131 7.5L169 13.5L201.5 21.5L234.5 32.5L297.5 57.5L357.5 86.5L505.5 169L593 220L651.5 252.5L710.5 283.5L770.5 313.5L832.5 342L868.5 357.5L924.5 379.5L965.5 394L1008 408.5L1054.5 421.5L1106 434.5L1160.5 443.5L1199.5 448.5L1235 451H1276.5L1301.5 450L1335.5 446L1370 440.5L1405 433L1429.5 426L1545 394L1606 370L1669 342
      "
    );
  }
  &__plane-appear {
    animation: plan-flying-plane 2s linear 1 forwards;
  }

  &__steps {
    margin-right: 58px;
    width: 100%;
    display: grid;
    grid-template: 80px auto auto / 467px 480px auto;
  }

  &__line {
    position: absolute;
    top: 45px;
    left: 69px;
    z-index: 1;
  }

  &__step {
    z-index: 2;
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 40px;
    max-width: 350px;
  }
  &__step1-appear {
    animation: appearing-plan 1s linear 0.25s 1 forwards;
  }
  &__step2-appear {
    animation: appearing-plan 1s linear 0.75s 1 forwards;
  }
  &__step3-appear {
    animation: appearing-plan 1s linear 1.25s 1 forwards;
  }

  &__step:nth-child(2) {
    margin: 123px 0 136px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &__step:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    max-width: 388px;
  }

  &__step-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    min-width: 80px;
    border-radius: 50%;
    background-color: var(--primary-orange-color);
  }

  &__step-count {
    @include plan-step-font;
  }

  &__step-info {
    text-align: left;
    @include paragraph-medium;
  }

  &__step-link {
    @include plan-link-font;
  }
}

.diploma {
  width: 100%;
  margin-top: -37px;
  padding: 6px 266px 144px 247px;
  background: url("../images/participationgoal-bg.png") no-repeat;
  background-position: right 0px top 185px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__info {
    width: 497px;
  }
  &__info-title {
    margin-bottom: 27px;
    white-space: nowrap;
  }
  &__info-text:not(:last-child) {
    margin-bottom: 30px;
  }
  &__card-wrapper {
    margin-top: -5px;
    transform: scale(0.808);
    transform-origin: right;
  }
  &__card {
    position: relative;
    width: 842px;
    height: 595px;
    background: linear-gradient(90deg, #6693b4 0%, #8fefea 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card-underlay {
    background: var(--primary-white-color);
    width: 794px;
    height: 551px;
    padding: 74px 147px 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;
  }
  &__card-title {
    @include h1-diploma-font;
  }
  &__card-subtitle {
    @include h4-diploma-font;
  }
  &__card-name {
    @include diploma-name-font;
    width: 100%;
    border-bottom: 2px solid var(--primary-green-color);
    border-radius: 1px;
  }
  &__card-place {
    @include diploma-place-font;
  }
  &__card-category {
    @include diploma-text-font;
    margin-bottom: 43px;
    white-space: pre-wrap;
  }
  &__card-date {
    @include diploma-text-font;
    margin-bottom: 2px;
  }
  &__card-image {
    position: absolute;
  }
  &__card-logo {
    z-index: 2;
    left: 66px;
    bottom: 75px;
  }
  &__card-print {
    bottom: 35px;
    right: 56px;
    transform: rotate(16deg);
    z-index: 2;
  }
  &__card-water {
    right: 0;
    bottom: 0;
  }
  &__card-clouds {
    top: 49px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
  }
  &__card-tree {
    left: 0;
    bottom: 0;
    z-index: 2;
  }
}

.timer {
  display: flex;
  gap: 10px;

  &__pad {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pad-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    border-radius: 16px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 5px 30px 0px rgba(215, 211, 225, 0.5);
    @include timer-pad-time;
  }

  &__colon {
    @include timer-colon;
    animation: timer 2s linear 0.5s infinite;
  }

  &__text {
    @include timer-text;
  }

  &__subtext {
    @include subtext;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  &__img {
    margin-bottom: 5px;
  }
  &__text {
    @include logo-font;
  }

  &__text-emphasis {
    color: var(--primary-orange-color);
    font-weight: 400;
  }
}

.cover {
  padding-left: 262px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;

  &__space-wrapper {
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &__space {
    position: relative;
  }
  &__space-bg {
    opacity: 0;
    animation: space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__space-icon {
    opacity: 0;
    position: absolute;
    animation: space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__space-icons {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__num {
    @include cover-text-font;
  }

  &__num--yellow {
    color: #fcc947;
  }

  &__num--pink {
    color: #e075ad;
  }

  &__num-zero {
    top: 264px;
    left: 720px;
    transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
  }

  &__num-one {
    top: 213px;
    left: 797px;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
  }

  &__star {
    width: 20px;
    height: 20px;
  }

  &__star-1 {
    top: 18px;
    left: 137px;
    transform: rotate(30deg);
  }

  &__star-2 {
    top: 37px;
    left: 737px;
    transform: rotate(30deg) scale(0.95);
  }

  &__star-3 {
    top: 86px;
    left: 387px;
    transform: scale(0.85);
  }

  &__star-4 {
    top: 110px;
    left: 657px;
    transform: rotate(30deg) scale(0.95);
  }

  &__star-5 {
    top: 190px;
    left: 304px;
    transform: rotate(45deg) scale(0.8);
  }

  &__star-6 {
    top: 148px;
    left: 828px;
    transform: rotate(45deg) scale(0.8);
  }

  &__star-7 {
    top: 205px;
    left: 736px;
    transform: rotate(45deg) scale(0.78);
  }

  &__star-8 {
    top: 460px;
    left: 322px;
    transform: rotate(60deg) scale(0.4);
  }

  &__star-9 {
    top: 517px;
    left: 320px;
    transform: rotate(45deg) scale(0.38);
  }

  &__star-10 {
    top: 519px;
    left: 406px;
    transform: rotate(45deg) scale(0.41);
  }

  &__atom {
    left: 93px;
    top: 136px;
    animation: atom 12s ease-out 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__planet {
    top: 465px;
    left: 335px;
    animation: planet 12s ease 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__planet-2 {
    top: 138px;
    left: 445px;
    animation: planet-2 12s ease 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__planet-3 {
    top: 86px;
    left: 227px;
    animation: planet-3 12s ease 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__clock {
    top: 224px;
    left: 136px;
    transform: scale(0.7);
    animation: clock 12s linear 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__rocket {
    top: 416px;
    left: 106px;
    animation: rocket 12s ease-out 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__balloon {
    top: 300px;
    left: 372px;
    animation: balloon 12s ease 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__lightbulb {
    top: 331px;
    left: 482px;
    transform: rotate(15deg);
    animation: lightbulb 12s ease 0.5s infinite forwards,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__elephant {
    top: 229px;
    left: 595px;
    animation: elephant 12s ease 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__airplane {
    top: 333px;
    left: 736px;
    animation: airplane 12s ease-in-out 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__division-sign {
    top: 189px;
    left: 533px;
    opacity: 0;
    transform: scale(0.5);
    animation: sign-animation 12s ease-out -4.5s infinite;
  }

  &__plus-sign {
    opacity: 0;
    transform: scale(0.5);
    top: 245px;
    left: 450px;
    animation: sign-animation 12s ease-out 1.5s infinite;
  }

  &__palette {
    top: 123px;
    left: 739px;
    animation: palette 12s ease-in-out 0.5s infinite,
      space-cover-onload 2s linear 0.5s 1 forwards;
  }

  &__planes {
    left: 187px;
    top: 720px;
    opacity: 1;
    animation: none;
  }

  &__girl {
    top: 480px;
    left: 388px;
    opacity: 1;
    animation: none;
  }

  &__brush {
    opacity: 1 !important;
    /* top: 633px;
    left: 412px; */
    top: 633px;
    left: 412px;
    z-index: -2;
    animation: brush 4.5s cubic-bezier(1, -0.45, 0.74, 2.12) infinite forwards;
  }

  &__top {
    width: 100%;
    display: flex;
    padding-top: 31px;
    padding-right: 247px;
    justify-content: space-between;
    overflow: hidden;
  }

  &__info {
    margin: 242px 0 60px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }

  &__info-company {
    @include subtext;
    text-transform: uppercase;
  }

  &__info-title {
    margin-bottom: 40px;
  }

  &__bottom {
    display: flex;
    gap: 72px;
  }
}

.social-icon {
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-white-color);
  border-radius: 10px;
}

.about {
  max-width: 790px;
  text-align: center;
  margin: 200px auto 164px;

  &__text-emphasis {
    font-weight: 700;
    color: var(--primary-green-color);
  }
}

.expand-button {
  height: 48px;
  width: 48px;
  background-color: var(--primary-orange-color);
  border-radius: 50%;
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 21px;
    background-color: var(--primary-white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 287px 0 209px;
  margin-bottom: 200px;
  position: relative;
  overflow: hidden;
  &__title {
    margin-bottom: 49px;
  }
  &__form {
    width: 658px;
  }
  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 52px;
  }
  &__checkbox-wrapper {
    margin-left: 2px;
    margin-top: -2px;
  }
  &__form-bottom {
    display: flex;
    align-items: center;
    margin-top: 52px;
    margin-left: 1px;
    padding-bottom: 50px;
  }
  &__form-planes {
    position: relative;
  }
  &__form-plane {
    bottom: -53px;
    position: absolute;
  }
  &__form-plane-1 {
    left: 166px;
    top: -40px;
  }
  &__form-plane-2 {
    z-index: -1;
    left: 209px;
    bottom: -50px;
  }
  &__banner {
    width: 490px;
    height: 476px;
    border-radius: 40px;
    border: 3px solid var(--primary-green-color);
    box-shadow: 0px 5px 15px var(--primary-pale-green-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__banner-flag {
    position: absolute;
    left: 101px;
    top: -17px;
  }
  &__banner-name {
    position: absolute;
    left: 157px;
    top: 5px;
    @include banner-text;
  }
  &__banner-content {
    padding: 134px 60px 40px 62px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__banner-text {
    white-space: nowrap;
    letter-spacing: 0.05em;
  }
  &__banner-prices {
    display: flex;
    align-items: flex-start;
    gap: 17px;
  }
  &__banner-old {
    @include banner-old-price;
    margin-top: 16px;
    text-decoration: line-through;
  }
  &__banner-new {
    @include banner-new-price;
  }
  &__banner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 56px 20px 58px;
    border-radius: 0px 0px 40px 40px;
    background: var(--primary-green-color);
    @include banner-text;
  }
  &__banner-socials {
    display: flex;
    gap: 18px;
  }
  &__flying-plane {
    position: absolute;
    transform: rotateY(180deg) rotateZ(180deg);
    right: 230px;
    bottom: 210px;
    offset-path: path(
      "M455 0.5C359.8 151.462 289.481 193.566 136.5 199.5C100.5 199.5 96 197 1 188.5"
    );
  }
  &__plane-appear {
    animation: register-flying-plane 2s ease-out 0.8s 1 forwards;
  }
  &__move-plane-1 {
    animation: move-plane-one 0.25s ease 2.5s 1 forwards;
  }
  &__move-plane-2 {
    animation: move-plane-two 0.25s ease 2.5s 1 forwards;
  }
}

.questions {
  padding: 0 242px 0 262px;
  &__title {
    margin-bottom: 49px;
    text-align: center;
  }
  &__item {
    padding: 21px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-black-color);
  }
  &__item:first-of-type {
    padding: 31px 0 30px;
    border-top: 1px solid var(--primary-black-color);
  }
}

.subscription {
  margin-top: 200px;
  padding: 0 120px;
  height: 373px;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0 67px;
    border-radius: 81px;
    height: 100%;
    width: 1680px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/subscription-bg.png");
  }

  &__title {
    color: var(--primary-white-color);
  }

  &__text {
    color: var(--primary-white-color);
    margin-bottom: 20px;
    text-align: center;
  }

  &__top {
    width: 930px;
    margin-bottom: 21px;
    display: flex;
    gap: 30px;
  }
  &__form {
    margin-left: 108px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 70px 238px 64px 265px;

  &__social {
    display: grid;
    row-gap: 8px;
    column-gap: 19px;
    width: 147px;
    justify-items: center;
    grid-template: 27px / 1fr 1fr 1fr;
  }

  &__social-info {
    @include footer-text;
    grid-column: 1 / 4;
  }

  &__up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }

  &__up-info {
    @include footer-text;
  }

  &__up-button {
    height: 56px;
    width: 56px;
    background-color: var(--primary-orange-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    margin-top: 22px;
    margin-right: 84px;
    width: max-content;
  }

  &__links-list {
    display: flex;
    gap: 40px;
  }

  &__links-item {
    @include nav-menu-text;
  }

  &__content-copyright {
    @include paragraph-medium;
  }
}
