@keyframes timer {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
}
@keyframes transparent-button-onload {
    
    25%{
        background-color: $mainOrange;
        color: $mainWhite;
        
        border: 1px solid $mainOrange;
    }
    100%{
        background-color: $mainWhite;
        color: $mainBlack;
        
        border: 1px solid $mainBlack;
    }
}

@keyframes space-cover-onload {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes atom {
    0% {
        transform: rotate(-20deg) scale(0);
    }

    20% {
        transform: rotate(-17deg) scale(0.3);
    }

    40% {
        transform: rotate(-7deg) scale(0.7);
    }

    50% {
        transform: rotate(0deg) scale(1);
    }

    60% {
        transform: rotate(7deg) scale(0.7);
    }

    80% {
        transform: rotate(17deg) scale(0.3);
    }

    100% {
        transform: rotate(20deg) scale(0);
    }
}

@keyframes lightbulb {
    0% {
        transform: rotate(15deg);
    }

    11% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(40deg);
    }

    69% {
        transform: rotate(-45deg);
    }

    86% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes clock {
    0% {
        transform: rotate(0deg) scale(.7);
    }

    50% {
        transform: rotate(-180deg) scale(1);
    }

    100% {
        transform: rotate(-360deg) scale(.7);
    }
}

@keyframes rocket {
    10% {
        top: 357px;
    }

    67% {
        top: 287px;
    }

    100% {
        top: 357px;
    }
}

@keyframes planet-3 {
    15% {
        top: 86px;
        left: 227px;
    }

    30% {
        top: 110px;
        left: 187px;
    }

    70% {
        top: 110px;
        left: 187px;
    }

    85% {
        top: 86px;
        left: 227px;
    }
}

@keyframes planet-2 {
    15% {
        left: 445px;
    }

    40% {
        left: 485px;
    }

    60% {
        left: 485px;
    }

    85% {
        left: 445px;
    }
}

@keyframes planet {
    15% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-30deg);
    }

    60% {
        transform: rotate(-30deg);
    }

    85% {
        transform: rotate(0deg);
    }
}

@keyframes balloon {
    15% {
        top: 300px;
    }

    40% {
        top: 340px;
    }

    60% {
        top: 340px;
    }

    85% {
        top: 300px;
    }
}

@keyframes palette {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes elephant {
    0% {
        left: 595px;
        transform: rotate(-11deg);
    }

    25% {
        left: 595px;
        transform: rotate(-11deg);
    }

    50% {
        left: 605px;
        transform: rotate(30deg);
    }

    75% {
        left: 605px;
        transform: rotate(30deg);
    }

    100% {
        left: 595px;
        transform: rotate(-11deg);
    }
}

@keyframes sign-animation {
    0% {
    }

    50% {
        opacity: 0;
        transform: scale(.8);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }

}

@keyframes airplane {
    0% {
        transform: scale(.5) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(45deg);
    }

    100% {
        transform: scale(.5) rotate(0deg);
    }

}

@keyframes brush {
    4% {
        top: 633px;
        left: 412px;
        transform: rotate(-10deg);
    }
    20%{
        top: 633px;
        left: 412px;
        transform: rotate(-10deg);
    }

    27% {
        top: 630px;
        left: 425px;
        transform: rotate(66deg);
    }

    29% {
        top: 630px;
        left: 425px;
        transform: rotate(46deg);
    }

    31% {
        top: 630px;
        left: 425px;
        transform: rotate(66deg);
    }

    33% {
        top: 630px;
        left: 425px;
        transform: rotate(56deg);
    }
    53%{
        top: 630px;
        left: 425px;
        transform: rotate(56deg);
    }
    60% {
        top: 625px;
        left: 410px;
        transform: rotate(10deg);
    }

    62% {
        top: 623px;
        left: 410px;
        transform: rotate(-10deg);
    }

    64% {
        top: 624px;
        left: 410px;
        transform: rotate(10deg);
    }

    87% {
        top: 627px;
        left: 411px;
        transform: rotate(5deg);
    }

    94%{
        
        top: 629px;
        left: 411px;
        transform: rotate(-10deg);
    }
    96% {

        top: 630px;
        left: 412px;
        transform: rotate(0deg);
    }

    98% {

        top: 630px;
        left: 412px;
        transform: rotate(3deg);
    }


    100% {

        top: 631px;
        left: 412px;
        transform: rotate(-10deg);
    }

}

@keyframes flying-plane {
    0%{
        left: 50px;
    }
    10%{
        left: 100px;
    }
    20%{
        left: 150px;
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
      }
    40%{
        left: 180px;
        transform: rotate(0deg);
      }
    60%{
        transform: rotate(-20deg);
    }
    70%{
        transform: rotate(10deg);
    }
    100% {
        left: 250px;
        transform: rotate(00deg);
        motion-offset: 100%;
        offset-distance: 100%;
      }
}
@keyframes appearing-plan {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}