@keyframes timer {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}
@keyframes transparent-button-onload {
  25% {
    background-color: $mainOrange;
    color: $mainWhite;

    border: 1px solid $mainOrange;
  }
  100% {
    background-color: $mainWhite;
    color: $mainBlack;

    border: 1px solid $mainBlack;
  }
}

@keyframes space-cover-onload {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes atom {
  0% {
    transform: rotate(0deg) scale(0);
  }
  50% {
    animation-timing-function: ease-in;
    transform: rotate(45deg) scale(1);
  }

  100% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(0);
  }
}

@keyframes lightbulb {
  11% {
    transform: rotate(15deg);
  }

  
  30% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(40deg);
  }
  47%{
    transform: rotate(15deg)
  }

  75% {
    transform: rotate(-45deg);
  }
  79% {
    transform: rotate(-45deg);
  }

  86% {
  }

  100% {
    transform: rotate(15deg);
  }
}

@keyframes clock {
  4% {
    transform: rotate(0deg) scale(0.7);
  }

  50% {
    transform: rotate(-180deg) scale(1);
  }
  58% {
    transform: rotate(-208deg) scale(1);
  }

  96% {
    transform: rotate(-360deg) scale(0.7);
  }
}

@keyframes rocket {
  11% {
    top: 416px;
  }

  50% {
    top: 366px;
  }
  67% {
    top: 366px;
  }

  100% {
    top: 416px;
  }
}

@keyframes planet {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes planet-2 {
  6% {
    left: 445px;
  }

  40% {
    left: 475px;
  }

  56% {
    left: 475px;
  }

  100% {
    left: 445px;
  }
}

@keyframes planet-3 {
  0% {
    top: 86px;
    left: 227px;
  }

  50% {
    top: 106px;
    left: 197px;
  }


  100% {
    top: 86px;
    left: 227px;
  }
}

@keyframes balloon {
  0% {
    top: 334px;
  }

  50% {
    top: 300px;
  }

  100% {
    top: 334px;
  }
}

@keyframes palette {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }
  83% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes elephant {
  0% {
    left: 595px;
    transform: rotate(-11deg);
  }

  25% {
    left: 595px;
    transform: rotate(-11deg);
  }

  50% {
    left: 605px;
    transform: rotate(30deg);
  }

  75% {
    left: 605px;
    transform: rotate(30deg);
  }

  100% {
    left: 595px;
    transform: rotate(-11deg);
  }
}

@keyframes sign-animation {
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }

  90% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  100%{
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes airplane {
  0% {
    transform: scale(0.5) rotate(0deg);
  }

  50% {
    transform: scale(1) rotate(45deg);
  }

  100% {
    transform: scale(0.5) rotate(0deg);
  }
}

@keyframes brush {
  0% {
    top: 633px;
    left: 412px;
    transform: rotate(24deg);
  }
  
  27% {
    top: 628px;
    left: 421px;
    transform: rotate(66deg);
  }
  33% {
    top: 628px;
    left: 421px;
    transform: rotate(66deg);
  }
  
  60% {
    top: 624px;
    left: 412px;
    transform: rotate(0deg);
  }
  66% {
    top: 624px;
    left: 412px;
    transform: rotate(0deg);
  }

  
  94% {
    top: 631px;
    left: 412px;
    transform: rotate(24deg);
  }
  100% {
    top: 631px;
    left: 412px;
    transform: rotate(24deg);
  }
}
/* @keyframes brush {
  4% {
    top: 633px;
    left: 412px;
    transform: rotate(24deg);
  }
  20% {
    top: 633px;
    left: 412px;
    transform: rotate(24deg);
  }

  27% {
    top: 630px;
    left: 425px;
    transform: rotate(66deg);
  }

  29% {
    top: 630px;
    left: 425px;
    transform: rotate(46deg);
  }

  31% {
    top: 630px;
    left: 425px;
    transform: rotate(66deg);
  }

  33% {
    top: 630px;
    left: 425px;
    transform: rotate(56deg);
  }
  53% {
    top: 630px;
    left: 425px;
    transform: rotate(56deg);
  }
  60% {
    top: 625px;
    left: 410px;
    transform: rotate(10deg);
  }

  62% {
    top: 623px;
    left: 410px;
    transform: rotate(-10deg);
  }

  64% {
    top: 624px;
    left: 410px;
    transform: rotate(10deg);
  }

  87% {
    top: 627px;
    left: 411px;
    transform: rotate(5deg);
  }

  94% {
    top: 629px;
    left: 411px;
    transform: rotate(-10deg);
  }
  96% {
    top: 630px;
    left: 412px;
    transform: rotate(0deg);
  }

  98% {
    top: 630px;
    left: 412px;
    transform: rotate(3deg);
  }

  100% {
    top: 631px;
    left: 412px;
    transform: rotate(-10deg);
  }
} */

@keyframes plan-flying-plane {
  0% {
    left: 50px;
  }
  10% {
    left: 100px;
  }
  20% {
    left: 150px;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  40% {
    left: 180px;
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(10deg);
  }
  100% {
    left: 285px;
    transform: rotate(00deg);
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes register-flying-plane {
  
  55%{
    transform: rotateY(180deg) rotateZ(170deg);
    
    right: 246px;
    bottom: 212px;
    offset-distance: 80%;
    offset-position: 80%;
  }
  75%{
    transform: rotateY(180deg) rotateZ(170deg);

    right: 246px;
    bottom: 212px;
    offset-distance: 80%;
    offset-position: 80%;
  }
  
  96% {
    transform: rotateY(180deg) rotateZ(165deg);
    right: 315px;
    bottom: 175px;
    offset-distance: 100%;
    offset-position: 100%;
  }
  100%{
    transform: rotateY(180deg) rotateZ(170deg);
    right: 315px;
    bottom: 175px;
    offset-distance: 99%;
    offset-position: 99%;
  }
}
@keyframes move-plane-one {
  0%{
    left: 166px;
    top: -40px;
  }
  100%{
    left: 112px;
    top: -34px;
    transform: rotate(-5deg) ;
  }
}
@keyframes move-plane-two {
  0%{
    left: 209px;
  }
  100%{
    left: 179px;
    transform: rotate(5deg) ;
  }
}

@keyframes appearing-plan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
