$mainWhite: #ffffff;
$mainGreen: #14a76c;
$mainOrange: #FF652F;
$mainRed: #E02D05;
$mainViolet: linear-gradient(326.12deg, #5D77FF 17.95%, #6539C1 89.78%);
$mainBlack: #1f1d2a;
$mainGray: #4f5569;
$lightGray: #9fa0a7;
$paleGreenShadow: rgba(20, 167, 114, 0.2);


@mixin h1-font {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $mainBlack;
}

@mixin h1-diploma-font {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $mainGreen;
}

@mixin h2-font {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: $mainBlack;
}

@mixin h4-diploma-font {
    font-family: 'Vollkorn';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $mainBlack;
}

@mixin logo-font {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: $mainBlack;
}

@mixin subtext {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: $lightGray;
}

@mixin diploma-name-font {
    font-family: 'Vollkorn';
    font-weight: 500;
    font-size: 35px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $mainBlack;
}
@mixin diploma-place-font {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $mainGreen;
}
@mixin diploma-text-font {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $mainBlack;
    font-feature-settings: 'tnum' on, 'lnum' on;
    opacity: 0.6;
}

@mixin cover-text-font {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

@mixin plan-step-font {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $mainWhite;
}

@mixin plan-link-font {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $mainGreen;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin wavy-underline {
    text-decoration: underline wavy;
    text-decoration-color: $mainOrange;
    text-decoration-thickness: 4px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

@mixin green-emphasis {
    color: $mainGreen;
}

@mixin paragraph-large {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: $mainGray;
}

@mixin paragraph-medium {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $mainGray;
}

@mixin paragraph-small {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: $mainGray;
}

@mixin nav-menu-text {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: $mainBlack;
}
@mixin banner-text {
    @include nav-menu-text;
    color: $mainWhite;
}
@mixin banner-old-price{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $mainBlack;
}
@mixin banner-new-price{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 96px;
    line-height: 114px;
    color: $mainBlack;
}

@mixin footer-text {
    @include nav-menu-text;
    font-weight: 400;
}

@mixin timer-pad-time {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: $mainOrange;
}

@mixin timer-colon {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    margin-top: 13px;
    color: $mainBlack;
}

@mixin timer-text {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: $mainBlack;
    text-align: center;
}

@mixin solid-button {
    width: 100%;
    max-width: 360px;
    padding: 18px 75px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-color: $mainGreen;
    color: $mainWhite;
    letter-spacing: 0.04em;
    box-shadow: 0px 15px 30px 0px rgba(25, 218, 140, 0.25);
    border-radius: 15px;
}

@mixin solid-button--red{
    box-shadow: 0px 15px 30px 0px rgba(218, 71, 25, 0.25);
    background-color: $mainRed
}

@mixin transparent-button {
    padding: 10px 59px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: $mainOrange;
    color: $mainWhite;
    letter-spacing: 0.04em;
    border-radius: 15px;
    border: 1px solid $mainOrange;
}

@mixin checkbox {
    transition: all 0.3s;
    appearance: none;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 2px;
    left: 2px;

    &::before {
        position: absolute;
        top: -2px;
        left: -2px;

        content: '';
        width: 19px;
        height: 19px;
        border: 1.5px solid $mainGreen;
        background-color: $mainWhite;
        border-radius: 7px;
    }

    &:checked::before {
        background-color: $mainGreen;
    }
}