$mainWhite: #ffffff;
$mainGreen: #14a76c;
$mainOrange: #ff652f;
$mainRed: #e02d05;
$mainViolet: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);
$mainBlack: #1f1d2a;
$mainGray: #4f5569;
$lightGray: #9fa0a7;
$paleGreenShadow: rgba(20, 167, 114, 0.2);
$titleFontFamily: "Nunito";
$commonFontFamily: "Rubik";
$diplomaFontFamily: "Vollkorn";


