$mainWhite: #ffffff;
$mainGreen: rgb(20, 167, 108);
$mainOrange: #FF652F;
$mainRed: #E02D05;
$mainViolet: linear-gradient(326.12deg, #5D77FF 17.95%, #6539C1 89.78%);
$mainBlack: #1f1d2a;
$mainGray: #4f5569;
$lightGray: #9FA0A7;


@mixin h1-font {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $mainBlack;
}

@mixin h2-font {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: $mainBlack;
}

@mixin logo-font {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: $mainBlack;
}
@mixin subtext {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: $lightGray;
}
@mixin cover-text-font{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

@mixin plan-step-font {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $mainWhite;
}

@mixin plan-link-font {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $mainGreen;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin wavyUnderline {
    text-decoration: underline wavy;
    text-decoration-color: $mainOrange;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

@mixin paragraph-large {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.05em;
}

@mixin paragraph-medium {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

@mixin paragraph-small {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: $mainGray;
}

@mixin navMenutext {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.03em;
}

@mixin timerPadTime {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: $mainOrange;
}

@mixin timerColon {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    margin-top: 13px;
    color: $mainBlack;
}

@mixin timerText {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: $mainBlack;
    text-align: center;
}

@mixin solid-button {
    padding: 18px 75px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-color: $mainGreen;
    color: $mainWhite;
    letter-spacing: 0.04em;
    box-shadow: 0px 15px 30px 0px rgba(25, 218, 140, 0.25);
    border-radius: 15px;
}

@mixin transparent-button {
    padding: 10px 59px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: $mainWhite;
    color: $mainBlack;
    letter-spacing: 0.04em;
    border-radius: 15px;
    border: 1px solid $mainBlack;
}

@mixin checkbox {
    transition: all 0.3s;
    appearance: none;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 2px;
    left: 2px;

    &::before {
        position: absolute;
        top: -2px;
        left: -2px;

        content: '';
        width: 19px;
        height: 19px;
        border: 1.5px solid $mainGreen;
        background-color: $mainWhite;
        border-radius: 7px;
    }

    &:checked::before {
        background-color: $mainGreen;
    }
}