$mainWhite: #ffffffc4;
$mainGreen: #36b884;
$mainOrange: #a7360e;
$mainRed: #8b2a14;
$mainViolet: linear-gradient(326.12deg, #5261ad 17.95%, #39128f 89.78%);
$mainBlack: #000000;
$mainGray: #2c2f3a;
$lightGray: #cecfda;
$paleGreenShadow: rgba(67, 109, 93, 0.2);
$titleFontFamily: 'Tahoma';
$commonFontFamily: 'Calibri';
$diplomaFontFamily: 'Arial';


